:root {
  --primary: rgb(0, 172, 102);
  --neutral: rgb(245, 243, 239);
  --neutral-pastel: rgb(250, 249, 247);
  --text: rgb(41, 41, 41);
}

/** GLOBAL SECTION STYLE **/

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.error {
  color: darkred;
}

button {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
  border-radius: 12px;
  padding: 1rem 2rem;
}

button.variant,
button:hover {
  background-color: var(--neutral);
  color: var(--primary);
  border: 1px solid var(--primary);
}

header {
  width: 100%;
  height: 64px;
  flex: 0 0 auto;
  background-color: var(--neutral);
  color: var(--text);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  width: clamp(300px, 90vw, 1280px);
  display: flex;
  justify-content: space-between;
}

header nav img {
  height: 50px;
  margin-right: 3rem;
}

header nav ul {
  margin: 0;
  display: flex;
  gap: 2rem;
}

header nav ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text);
}

header nav ul li a.active,
header nav ul li a:hover {
  font-weight: bold;
}

main {
  flex: 1 1 100%;
  overflow: auto;
}

/** BOOK SECTION STYLE **/

li.book:first-child {
  display: none;
}

/** LOGIN SECTION STYLE **/

.connexion {
  display: flex;
  height: 100%;
  background-color: #faf9f7;
}

.form-connexion {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connec {
  font-size: 36px;
  margin-bottom: 50px;
}

.connexion label {
  margin-bottom: 10px;
}

.connexion input[type="email"],
.connexion input[type="username"],
.connexion input[type="password"] {
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-size: 15px;
  outline: none;
}

.register {
  font-size: 14px;
  margin-top: 30px;
}

.connexion form {
  display: flex;
  box-sizing: border-box;
  height: fit-content;
  align-items: stretch;
  overflow: hidden;
  min-width: 300px;
  flex-direction: column;
}

.mask-group {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.mask-group {
  background-image: url("assets/mask_group.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/** FOOTER SECTION STYLE **/

footer {
  width: 100%;
  height: 64px;
  flex: 0 0 auto;
  background-color: var(--neutral);
  color: var(--text);
  overflow: hidden;
  display: flex;
  align-items: center;
}

footer ul {
  width: clamp(300px, 90vw, 1280px);
  display: flex;
  margin: 0;
  gap: 2rem;
  justify-content: flex-end;
}

footer ul li {
  list-style-type: none;
  color: var(--text);
}
