:root {
  --primary: rgb(0, 172, 102);
  --neutral: rgb(245, 243, 239);
  --neutral-pastel: rgb(250, 249, 247);
  --text: rgb(41, 41, 41);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

button {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

button.variant {
  background-color: var(--neutral);
  color: var(--primary);
  border: 1px solid var(--primary);
}

header {
  width: 100%;
  height: 64px;
  flex: 0 0 auto;
  background-color: var(--neutral);
  color: var(--text);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  width: clamp(300px, 90vw, 1280px);
  display: flex;
  justify-content: space-between;
}

header nav img {
  height: 50px;
  margin-right: 3rem;
}

header nav ul {
  margin: 0;
  display: flex;
  gap: 2rem;
}

header nav ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text);
}

header nav ul li a.active,
header nav ul li a:hover {
  font-weight: bold;
}

main {
  flex: 1 1 100%;
  overflow: auto;
}

li.book:first-child {
  display: none;
}

footer {
  width: 100%;
  height: 64px;
  flex: 0 0 auto;
  background-color: var(--neutral);
  color: var(--text);
  overflow: hidden;
  display: flex;
  align-items: center;
}

footer ul {
  width: clamp(300px, 90vw, 1280px);
  display: flex;
  margin: 0;
  gap: 2rem;
  justify-content: flex-end;
}

footer ul li {
  list-style-type: none;
  color: var(--text);
}
